@font-face {
    font-family: Akkurat;
    src: url(../../fonts/Akkurat.otf);
}

@font-face {
    font-family: Akkurat-Mono;
    src: url(../../fonts/Akkurat-Mono.otf);
}

@font-face {
    font-family: Eczar-Regular;
    src: url(../../fonts/Eczar-Regular.ttf);
}

@font-face {
    font-family: FortescuePro-Regular;
    src: url(../../fonts/FortescuePro-Regular.otf);
}

@font-face {
    font-family: HelveticaNeue-BoldExt;
    src: url(../../fonts/HelveticaNeue-BoldExt.otf);
}

* {
	transition: 1s; //.2
}

body{
	float: left;
	margin: 0;
}

*, div{
	box-sizing: border-box;
}

h3{
	margin: 0;
}

header{
	#genInfo {
		float: right;
	}
}

canvas{
	// border: 3px dashed white;
	z-index: -1;
	position: fixed;
}

.linkedImg{
	position: absolute;
	max-height: 80vh;
	padding-top: 0 !important;
	text-align: center;
	img{
		max-width:100%;
		max-height:80vh;
	}

	.imgCaption{
		text-align: left !important; //WTF
	}
}

.linkedRef{
	position: absolute;
	padding-top: 0 !important;
}

.checkCross{
	// font-size: 18pt;
	// margin-top: -5px;
}

#bg{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: red;
	z-index: -5;
}



//temp
.imgLink, .refLink {
	text-decoration: underline;
	cursor: pointer;
}

.shiny{
	background-color: black;
	// color: white !important;
	// font-weight: bolder;
}

